{% extends 'base.html.twig' %}

{% block title %}New Movie{% endblock %}

{% block body %}
    <h1><i class="fa-solid fa-plus"></i> Add new Movie</h1>

    {{ include('admin_movie/forms/_form.html.twig') }}

    <a href="{{ path('app_admin_movie') }}">Return to list</a>
{% endblock %}
